# .pre-commit-config.yaml
# https://pre-commit.com/#new-hooks

default_language_version:
  python: python3.13
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: python
        types: [python]
        args: ["--fix"]
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: python
        types: [python]
        args: []
