name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
    paths-ignore:
       - '**.md'

permissions: write-all

jobs:
  build:
    runs-on: windows-latest

    name: Build Windows

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: uv sync

      - name: Build Windows executable
        run: uv run pyinstaller src/gui/__main__.py --collect-all scienceplots --onefile --name OTK.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: dist/OTK.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: dist/OTK.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
